$purplishGrey: #eeedff;
$color-primaryLight: #c4fbff;
$color-primaryDark: #436b6e;
$color-white: #fff;
$color-black: #0000;
$color-secondary: #64567d;
$color-secondary2: #816fa1;

$color-greyLight1: #f7f7f7;
$color-greyLight2: #eee;
$color-greyDark: #777777;
$color-greyDark2: #999;

$color-random: rgb(108,30,255);

$opacity-general: 0.8;

$defaultFont: comforta;