* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: $defaultFont !important;
    font-weight: 400;
    line-height: 1.7;
    padding: 3rem;
    color: $purplishGrey;
}

