.mainPage {
    position: relative;

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.45;
        width: 100%;
        height: 105vh;
        z-index: -1;
        margin-bottom: 3rem;
    }
}